/* style contents for mobile only */

@media (max-width: 769px) {
  .faqc {
    padding: 30px;
  }
}

/* style contents for larger screens only */

@media (min-width: 769px) {
  .flex-item1a {
    width: 40%;
    padding: 70px;
  }
  .flex-item2a {
    width: 60%;
    padding: 70px;
    padding-left: 180px;
    margin-left: 60px;
  }
  .faqc {
    padding: 80px;
    padding-top: 0px !important;
    height: auto;
  }
  .one {
    padding-left: 60px;
    margin-bottom: 10px;
  }
}

/* stylings that doesnt affect screens only */

.faqc {
  background: #f8f8f7;
  background-blend-mode: overlay;
}
.faq-btn {
  width: 400px;
  background-color: #050505;
  color: #fff;
  padding: 10px 20px;
  border: 3px solid rgb(90, 84, 84);
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
}
.faq-p {
  width: 350px;
  background-color: #fcfafa;
  color: #0a0a0a;
  padding: 10px 20px;
  font-size: 15px;
  margin: 10px;
}
